body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

/* Banner */
.mainBanner {
    height: 150px;
    background-color: #38475c;
    display: flex;
    align-items: center;
    padding-left: 50px;
    color: whitesmoke;
}

.worldIcon {
    height: 100px;
    margin-right: 10px;
}

/* Search and Country List */
.searchAndList {
    padding: 20px;
}

.search {
    padding: 20px;
}

.list-group-item:hover {
    background-color: #d4d2d2;
}

.scroll {
    max-height: 300px;
    overflow-y: scroll;
}

.countryList {
    padding: 20px;
}

/* Country Information */
.welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5e5d5d;
}

h2 {
    color: #FD5E6A;
    margin-bottom: 30px;
}

.countryInfo {
    padding: 60px;
}